<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="ServiceShared.Service">
        <endpoint address="echo"
                  binding="wsHttpBinding"
                  contract="ServiceShared.IService" />     
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10050"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>