<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="routingFilters">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10000"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="routingFilters">
          <routing filterTableName="RoutingTable" />
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <routing>
      <filters>
        <filter name="legacy" filterType="Action" filterData="OperationA"/>
        <filter name="else" filterType="MatchAll" />
      </filters>
      <filterTables>
        <filterTable name="RoutingTable">
          <add filterName="legacy" endpointName="Service1" priority="2"/>
          <add filterName="else" endpointName="Service2" priority="0"/>
        </filterTable>
      </filterTables>
    </routing>
    <client>
      <endpoint address="http://localhost:10001/" 
                binding="basicHttpBinding"
                contract="*" 
                name="Service1" />
      <endpoint address="http://localhost:10002/"
                binding="basicHttpBinding"
                contract="*"
                name="Service2" />
    </client>
  </system.serviceModel>
</configuration>