<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="PetService.CatService">
        <!--behaviorConfiguration="Default"-->
        <endpoint address="http://localhost:8081/pets/cat"
                  binding="basicHttpBinding"
                  contract="PetService.ICatService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" 
                           httpGetUrl="http://localhost:8081/pets"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>