<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEchoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14552/router" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEchoService" contract="EchoService.IEchoService"
                name="BasicHttpBinding_IEchoService1" />
        </client>
    </system.serviceModel>
</configuration>