<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEchoService" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60999/echo" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IEchoService" contract="EchoServiceReference.IEchoService"
                name="WSHttpBinding_IEchoService">
                <identity>
                    <userPrincipalName value="twhorten@mwfbi.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>