<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10050/echo" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService" contract="EchoService.IService"
                name="WSHttpBinding_IService">
                <identity>
                    <userPrincipalName value="troy-PC\troy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>