<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="secure">
            <security mode="Transport">
              <transport clientCredentialType="Certificate" />
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
        <client>
            <endpoint address="https://troy-PC:10050/echo" binding="wsHttpBinding"
                bindingConfiguration="secure" contract="EchoService.IService" behaviorConfiguration="cert"
                name="WSHttpBinding_IService" />
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="cert">
            <clientCredentials>
              <clientCertificate  findValue="SignedByCA"
                                  storeLocation="CurrentUser"
                                  storeName="My"
                                  x509FindType="FindBySubjectName"/>
              
              <serviceCertificate>
                <authentication certificateValidationMode="ChainTrust"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
    </behaviors>
    </system.serviceModel>
</configuration>