<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICatService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICatService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/pets/cat" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICatService" contract="CatServiceClient.ICatService"
                name="BasicHttpBinding_ICatService" />
            <endpoint address="net.tcp://localhost:8082/pets/cat" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICatService" contract="CatServiceClient.ICatService"
                name="NetTcpBinding_ICatService">
                <identity>
                    <userPrincipalName value="troy-PC\troy" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8081/pets/wsCat" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICatService" contract="CatServiceClient.ICatService"
                name="WSHttpBinding_ICatService">
                <identity>
                    <userPrincipalName value="troy-PC\troy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>