<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
    <system.serviceModel>
    <services>
      <service name="ConcurrentServices.Services.PerCall_Multi_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12001/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.PerCall_Single_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12002/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.PerSession_Multi_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12003/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.PerSession_Single_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12004/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.Singleton_Multi_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12005/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.Singleton_Single_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12006/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.PerCall_Reentrant_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12007/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.PerSession_Reentrant_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12008/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="ConcurrentServices.Services.Singleton_Reentrant_Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12009/concurrency/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
      <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>