<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IConService" />
                <binding name="WSHttpBinding_IConService1" />
                <binding name="WSHttpBinding_IConService2" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11001/status" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IConService" contract="CallServiceReference.IConService"
                name="WSHttpBinding_IConService">
                <identity>
                    <userPrincipalName value="troy-PC\troy" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:11002/status" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IConService1" contract="SessionServiceReference.IConService"
                name="WSHttpBinding_IConService1">
                <identity>
                    <userPrincipalName value="troy-PC\troy" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:11003/status" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IConService2" contract="SingleServiceReference.IConService"
                name="WSHttpBinding_IConService2">
                <identity>
                    <userPrincipalName value="troy-PC\troy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>