<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <routing filterTableName="filterTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="router" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:14552/router"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <routing>
      <filters>
        <filter name="filter" filterType="MatchAll"/>
      </filters>
      <filterTables>
        <filterTable name="filterTable">
          <add filterName="filter" endpointName="P15560" priority="2" backupList="backups"/>
        </filterTable>
      </filterTables>
      <backupLists>
        <backupList name="backups">
          <add endpointName="P33344" />
          <add endpointName="P22455" />
        </backupList>
      </backupLists>
    </routing>
    <client>
      <endpoint address="http://localhost:33344/print"
                binding="basicHttpBinding"
                contract="*"
                name="P15560" />
      <endpoint address="http://localhost:33344/print"
                binding="basicHttpBinding"
                contract="*"
                name="P33344" />
      <endpoint address="http://localhost:22455/print"
                binding="basicHttpBinding"
                contract="*"
                name="P22455" />
    </client>
  </system.serviceModel>-->
</configuration>