<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileService" 
                         transferMode="StreamedResponse"
                         maxBufferSize="100000"
                         maxReceivedMessageSize="4000000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19999/file" 
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IFileService" 
                      contract="FileServiceReference.IFileService"
                      name="BasicHttpBinding_IFileService" />
        </client>
    </system.serviceModel>
</configuration>