<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorks2012Entities" connectionString="metadata=res://*/AdventureWorksEntities.csdl|res://*/AdventureWorksEntities.ssdl|res://*/AdventureWorksEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TROY-PC\SQLEXPRESS;initial catalog=AdventureWorks2012;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>