<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="manager" 
                address="http://localhost:8080/chatmgr/duplex" 
                binding="wsDualHttpBinding" 
                contract="ChatShared.IChatManager" />
    </client>
  </system.serviceModel>
</configuration>