<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.1.148:12001/concurrency/PCM.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="WSDualHttpBinding_IService" />
      <endpoint address="net.tcp://192.168.1.148:12002/concurrency/PCS.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="WSDualHttpBinding_IService1" />
      <endpoint address="net.tcp://192.168.1.148:12003/concurrency/PSM.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="WSDualHttpBinding_IService2" />
      <endpoint address="net.tcp://192.168.1.148:12004/concurrency/PSS.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="WSDualHttpBinding_IService3" />
      <endpoint address="net.tcp://192.168.1.148:12005/concurrency/SM.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="WSDualHttpBinding_IService4" />
      <endpoint address="net.tcp://192.168.1.148:12006/concurrency/SS.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="WSDualHttpBinding_IService5" />
      <endpoint address="net.tcp://192.168.1.148:12007/concurrency/PCR.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="NetTcpBinding_IService" />
      <endpoint address="net.tcp://192.168.1.148:12008/concurrency/PSR.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="NetTcpBinding_IService1" />
      <endpoint address="net.tcp://192.168.1.148:12009/concurrency/SR.svc/status"
        binding="netTcpBinding" contract="ConcurrentServices.IService"
        name="NetTcpBinding_IService2" />
    </client>
  </system.serviceModel>
</configuration>