<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <netTcpBinding>
                <binding name="WSDualHttpBinding_IService" />
                <binding name="WSDualHttpBinding_IService1" />
                <binding name="WSDualHttpBinding_IService2" />
                <binding name="WSDualHttpBinding_IService3" />
                <binding name="WSDualHttpBinding_IService4" />
                <binding name="WSDualHttpBinding_IService5" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12001/status" binding="netTcpBinding"
                bindingConfiguration="WSDualHttpBinding_IService" contract="ConcurrentServices.IService"
                name="WSDualHttpBinding_IService">
            </endpoint>
            <endpoint address="net.tcp://localhost:12002/status" binding="netTcpBinding"
                bindingConfiguration="WSDualHttpBinding_IService1" contract="ConcurrentServices.IService"
                name="WSDualHttpBinding_IService1">
            </endpoint>
            <endpoint address="net.tcp://localhost:12003/status" binding="netTcpBinding"
                bindingConfiguration="WSDualHttpBinding_IService2" contract="ConcurrentServices.IService"
                name="WSDualHttpBinding_IService2">
            </endpoint>
            <endpoint address="net.tcp://localhost:12004/status" binding="netTcpBinding"
                bindingConfiguration="WSDualHttpBinding_IService3" contract="ConcurrentServices.IService"
                name="WSDualHttpBinding_IService3">
            </endpoint>
            <endpoint address="net.tcp://localhost:12005/status" binding="netTcpBinding"
                bindingConfiguration="WSDualHttpBinding_IService4" contract="ConcurrentServices.IService"
                name="WSDualHttpBinding_IService4">
            </endpoint>
            <endpoint address="net.tcp://localhost:12006/status" binding="netTcpBinding"
                bindingConfiguration="WSDualHttpBinding_IService5" contract="ConcurrentServices.IService"
                name="WSDualHttpBinding_IService5">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>